<!DOCTYPE HTML>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<title> Xargo Genetics </title>
</head>

<body>
	<header>
		<div class="headerContainer"> 
			<a class="headerlogo" href="/"> 
				<text class="titleText"> Xargo Genetics </text>
			</a>
			<ul>
				<li> <a class="headerMenuLinks" href="/app">Application</a> </li>
				<li> <a class="headerMenuLinks" href="/about">About</a> </li>
				<li> <a class="headerMenuLinks" href="/login"><%= login_status %> </a> </li>
			</ui>
		</div>
	</header>

	<div id="center_box">

		<div id="first_block" class="broad_box" >
			<img src="images/aas/G_fig.png">
			<img src="images/aas/E_fig.png">
			<img src="images/aas/N_fig.png">
			<img src="images/aas/E_fig.png">
			<img src="images/aas/T_fig.png">
			<img src="images/aas/I_fig.png">
			<img src="images/aas/C_fig.png">
			<img src="images/aas/S_fig.png">
		</div>

		<div id="second_block" class="broad_box">	

			<div id="robot_picture_title">
			 	<h1> Next generation lab equipment </h1>
			</div>
			<img id="robot_picture" src="images/XAL3.png" width="760px">
	
			<hr style="width:760px; margin: 20px auto;">

		</div>

		<div id="third_block" class="thin_box">

			<div class="centerClickable" href="/">
				<img src="images/Autonomous.png" width="116px">
				<p>Autonomous</p>
			</div>

			<div class="centerClickable" href="/">
				<img src="images/fast2.png" width="116px">
				<p>Fast</p>
			</div>

			<div class="centerClickable" href="/">
				<img src="images/versatile(1).png" width="116px">
				<p>Versatile</p>
			</div>


		</div>

	</div>

	<footer style="background-color:"> 
		<span id="copyright"> 
			Copyright Xargo co. All rights reserved. Re-distribution of any material from this site is strictly forbidden unless permitted by Xargo co. 
		</span>
	</footer>

	<link rel="stylesheet" href="css/common.css">	
	<link rel="stylesheet" href="css/homepage.css">	
	<script src="home_script.js"></script>	


</body>
</html>


