#user_field, #pass_field {
	border: 1px solid #DDD;
	background-color: #EFEFED;
	padding: 2px 0px 2px 8px;
	margin: 6px;
	height:30px;
	width: 300px;
}

#submit_btn {
	margin: 8px;
	padding: 3px;
	width: 200px;
	border: none;
	background-color: #1976D2;
	color: white;
	font-size: 18px;
	border-radius: 2px;
}
#submit_btn:hover{
	background-color: #498FDF;
	color: #EEE;
	cursor: pointer;
}

#first_block{
}

#second_block{
	
}
#second_block image{
 	width: 20%;
 	margin-left: 10%;
}